@font-face {
    font-family: 'BebasNeue-Regular';
    src: url("../BebasNeue/BebasNeue-Regular.ttf");
}
@font-face {
    font-family: 'BebasNeue-Thin';
    src: url("../BebasNeue/BebasNeue-Thin.ttf");
}

